.tbl-rw{table-layout:fixed;width:100%;border:1px solid #DADCE0;background:#fff;}
.tbl-rw th{padding:9px 0 9px 12px;font-size:12px;line-height:18px;text-align:left;font-weight:600;vertical-align:top;background:#F8F8FA}
.tbl-rw td{padding:9px 12px;font-size:12px;line-height:18px;color:#505050;word-break:break-word;word-wrap:break-word;vertical-align:top;}
.tbl-rw .ln th, .tbl-rw .ln td{border-bottom:1px solid #DADCE0;}
.tbl-rw td span{display:block;}
.tbl-rw td .exc{position:relative;overflow:hidden;display:inline-block;max-width:100%;height:18px;padding-right:24px;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;-webkit-box-sizing:border-box;}
.tbl-rw td .cac{position:relative;overflow:hidden;display:inline-block;max-width:100%;height:18px;padding-right:57px;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;-webkit-box-sizing:border-box;}
.tbl-rw td .add{position:absolute;right:0;top:1px;width:16px;height:16px;border:1px solid #858C9E;border-radius:2px;}
.tbl-rw td .ic{display:inline-block;margin-right:2px;vertical-align:top;}
.tbl-rw td .ic img{display:block;width:18px;height:18px;}
.tbl-rw td .no{position:absolute;right:24px;top:1px;display:block;width:23px;height:16px;border-radius:8px;-webkit-border-radius:8px;font-size:8px;line-height:16px;text-align:center;font-weight:800;color:#fff;background:#6666FF}
.tbl-rw td.hdh{height:108px;}
.tbl-rw td .his-add{width:0.875rem;height:0.875rem;}

.tx-main-top {
    border-top: 2px solid #8662c9;
}