.btn{
    border-radius: 0.125rem;
    font-size: $btn-font-size;
    box-shadow: none !important;
}

.btn-cache,
.btn-cache:focus,
.btn-cache:link,
.btn-cache:active,
.btn-cache.active,
.btn-cache:hover,
.btn-cache:visited{
    color:#fff;
}

.btn-cache:active,
.btn-cache:hover,
.btn-cache:visited{
    background-color: $cache;
}


.btn-was,
.btn-was:link,
.btn-cache:focus,
.btn-was:active,
.btn-was.active,
.btn-was:hover,
.btn-was:visited{
    color:#fff;
}


.btn.btn-block{width:100%}

.dot-btn-group{
    position: relative;
    font-size: 0.75rem;
    color: #999;
}
.dot-btn-group .btn{
    box-shadow: none;
    font-size: inherit;
    color: inherit;
}

.dot-btn-group .btn.active{
    text-decoration: line-through;
}

.dot-btn-group .btn.active .circle,
.dot-btn-group .btn:hover .circle{
    background-color: #fff;
}

.dot-btn-group .circle.primary-cache{
    border:2px solid #3699ff;
    background-color: #3699ff;
}

.dot-btn-group .btn.active .circle.primary-cache,
.dot-btn-group .btn:hover .circle.primary-cache{
    border:2px solid #3699ff;
}

.dot-btn-group .circle.secondary-cache{
    border:2px solid #fbbb09;
    background-color: #fbbb09;
}

.dot-btn-group .btn .active .circle.secondary-cache,
.dot-btn-group .btn:hover .circle.secondary-cache{
    border:2px solid #fbbb09;
}

.dot-btn-group .circle.miss{
    border:2px solid #ff4684;
    background-color: #ff4684;
}
.dot-btn-group .btn .active .circle.miss,
.dot-btn-group .btn:hover .circle.miss{
    border:2px solid #ff4684;
}

.dot-btn-group .circle ~ span{
    padding-left:2px;
}

.btn-lg, .btn-group-lg > .btn{
    height:46px;
    font-size: 0.94rem;
}

.btn-md, .btn-group-md > .btn{
    min-height:28px;
    padding:0.2rem 0.75rem;
    font-size: 0.75rem;
    border-radius:2px! important;
}

.btn-outline-lightgray{
  border-color:$light-gray  
}

.btn.btn-icon{
    display:inline-flex;
    align-items:center;
    background-color:#fff;
}

.btn.btn-icon span{
	padding-left:4px;
}

// .btn-group .btn + .btn{
//     margin-left: 8px;
// }


.btn.btn-all {
    background-color: transparent;
    border-color: $purple !important;
    color: $base-font-color;
    min-width: 50px;
    max-width: 60px;
}
.btn.btn-all.active {
    background-color: $purple !important;
    border-color: $purple !important;
    color: #fff;
}

.btn.btn-all:hover {
    background-color:  tint-color($purple, 90%) !important;
    border-color: tint-color($purple, 90%) !important;
    color: $purple
}

.btn-circle{
    padding: 0;
    overflow:hidden;
    width:40px;
    height:40px;
    border-radius:50%;
    background:#fff;
    box-sizing:border-box;
    box-shadow:3px 3px 6px 0 rgba(0,0,0,0.08) !important;
}


.btn-check:checked + .btn-cache, .btn-check:active + .btn-cache, .btn-cache:active,.btn-cache:hover, .btn-cache.active, .show > .btn-cache.dropdown-toggle{
    color: #fff;
}