.hi.his-chart-bar{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-bar-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-bar-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-stacked-bar{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-stacked-bar-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-stacked-bar-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-bar-line{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-bar-line-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-bar-line-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-horizontal-bar{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-horizontal-bar-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-horizontal-bar-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-line{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-line-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-line-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-area{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-area-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-area-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-pie{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-pie-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-pie-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-pie-doughnut{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-pie-doughnut-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-pie-doughnut-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-doughnut{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-doughnut-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-doughnut-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-scatter{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-scatter-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-scatter-solid.svg') no-repeat 50% 50%;
}

.hi.his-chart-bubble{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/chart/chart-bubble-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/chart/chart-bubble-solid.svg') no-repeat 50% 50%;
}

.hi.his-widget-computer{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/widget/computer-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/widget/computer-solid.svg') no-repeat 50% 50%;
}

.hi.his-widget-four-cube{
    background-color: $svg-icon-default-color;
    mask: url('../svg/icon/widget/four-cube-solid.svg') no-repeat 50% 50%;
    -webkit-mask: url('../svg/icon/widget/four-cube-solid.svg') no-repeat 50% 50%;
}