<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/grid/wijmo/wijmo.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/grid/wijmo/theme/hamonica/wijmo.theme.hamonica.css" type="text/css">
    <!-- <link rel="stylesheet" href="/static/css/grid/wijmo/wijmo.min.dark.css" type="text/css">
    <link rel="stylesheet" href="/static/css/grid/wijmo/wijmo.min.shyblue.css" type="text/css"> -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="/static/js/polyfill.js"></script>
    <script src="/static/js/grid/wijmo/wijmo.min.js"></script>
    <script src="/static/js/grid/wijmo/wijmo.grid.min.js"></script>
    <script src="/static/js/grid/wijmo/wijmo.input.min.js"></script>
    <script src="/static/js/grid/wijmo/wijmo.grid.excel.converter.js"></script>
    <title><%- title %></title>
  </head>
  <body class="hmc">
    <div id="app"></div>
    <script type="module" src="./main.ts"></script>
  </body>
</html>